
#include "pinctrl.dtsi"

/ {
        chosen {
                zephyr,console = &rtt0;
        };

        rtt0: rtt_chan0 {
                compatible = "segger,rtt-uart";
                status = "okay";
        };
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    clock-frequency = < 0x61A80 >;
};

&rtc0 {
    status = "okay";
};

&qdec {
    status = "okay";
    pinctrl-0 = <&qdec_default>;
    pinctrl-names = "default";
    led-pre = <0>;
    steps = <830>;
};

&lsm6ds3 {
    accel_pm = <0>;
    accel_range = <0>;
    accel_odr = <6>;
    accel_lpf2_enable; 
    gyro_pm = <0>;
    gyro_range = <6>;
    gyro_odr = <6>;
    input_composite = <4>;
};

/delete-node/ &uart0;
/delete-node/ &uart1;
/delete-node/ &uart0_default;
/delete-node/ &uart0_sleep;

/ {
    aliases {
        /delete-property/ red-pwm-led;
        /delete-property/ green-pwm-led;
        /delete-property/ blue-pwm-led;
        /delete-property/ pwm-led0;
        /delete-property/ pwm-led1;
        /delete-property/ pwm-led2;

        motor0 = &pwm_motor0;
        motor1 = &pwm_motor1;
 
        motordir0 = &motor_aphase0;
        motordir1 = &motor_aphase1;
    };

    /delete-node/ pwmleds;

    pwm_motor {
        compatible = "pwm-leds";
        pwm_motor0: pwm_motor_0 {
            pwms = < &pwm0 0x0 0x1312d00 0x0 >;
        };
        pwm_motor1: pwm_motor_1 {
            pwms = < &pwm0 0x1 0x1312d00 0x0 >;
        };
    };

    motor_gpio {
        compatible = "gpio-leds";
        motor_aphase0: motor_aphase_0 {
            gpios = < &gpio0 0x14 GPIO_ACTIVE_HIGH >;
            label = "Motor0 direction pin";
        };
        motor_aphase1: motor_aphase_1 {
            gpios = < &gpio0 0x18 GPIO_ACTIVE_HIGH >;
            label = "Motor1 direction pin";
        };
    };

};

