
#include "pinctrl.dtsi"

/ {
        chosen {
                zephyr,console = &rtt0;
        };

        rtt0: rtt_chan0 {
                compatible = "segger,rtt-uart";
                status = "okay";
        };
};

&i2c0 {
    compatible = "nordic,nrf-twim";
};

&qdec {
    status = "okay";
    pinctrl-0 = <&qdec_default>;
    pinctrl-names = "default";
    led-pre = <0>;
    steps = <100>;
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
};

&lsm6ds3 {
    accel_pm = <0>;
    accel_range = <0>;
    accel_odr = <6>;
    gyro_pm = <0>;
    gyro_range = <1>;
    gyro_odr = <6>;
};
