menuconfig SENSOR
        bool "Sensor drivers"
        help
          Include sensor drivers in system config

if SENSOR
rsource "lsm6ds3tr-c/Kconfig"
rsource "lis3mdlz/Kconfig"
rsource "qdec_nrfx/Kconfig"
endif
