&i2c0 {
    lis3mdl: lis3mdl-magn@1c {
        compatible = "st,lis3mdl-magn";
        friendly-name = "LIS3MDL Magnetometer";
        reg = <0x1c>;
    };
    lsm6ds3: lsm6ds3@6a {
        compatible = "st,lsm6dso";
        friendly-name = "LSM6DSO Accelerometer/Gyroscope";
        reg = <0x6a>;
    };
};
